.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  position: relative;
  text-align: center;
}

.modal-content img {
  width: 80px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.light {
  background: #f1f5f9;
  color: #020617;

}

.light .card{
background: white;
}

.light .modal-content{
  background: white;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.toggle button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #22c55e;

}